.App{
    display: grid;
    grid-template-areas: 
    "sidebar home";
    grid-template-columns: 100px 1fr;
    min-height: 100vh;
    background-color: #fff9d5;
    width: 100%;
}

.sidebar{
    grid-area: sidebar;
}

.home{
    grid-area: home;
}

@media screen and (max-width: 768px){
    .App {
        grid-template-areas: 
        "sidebar home";
        grid-template-columns: 100px 1fr;
        grid-template-rows: auto 1fr;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        height: 60px;
    }
    
    .home {
        padding-bottom: 70%;
        padding-left: 20px;
        padding-right: 20px;
        width: 768px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .App {
        grid-template-columns: 80px 1fr; 
    }
}